<% if @products %>
	<ul class="thumbnails" id="carts_list">
		<% @products.each do |product| %>
			<li class="span3">
				<%= link_to (image_tag product.image, :class=>"img-polaroid"), product_path(product)%>
				<h4><%= product.title %></h4>
				<p><%= product.description %></p>
				<% if user_signed_in? %>
				  <%= link_to "add to cart", "javascript:void(0);",:class=>"add_to_cart btn btn-success btn-mini", :id=>"#{product.id}" %>
				<% else %>
				  <%= link_to "add to cart", new_user_session_path,:class=>"add_to_cart btn btn-success btn-mini" %>
				<% end %>
				
			</li>
		<% end %>
	</ul>
<% end %>
<script type="text/javascript">
	var user_id="<%=current_user.id if current_user %>"
	$("#carts_list .add_to_cart").click(function(){
		var id = this.id;
		var url = "carts"
		$.ajax({
		url: url,
	    type: "POST",
	    dataType:"json",
	    data:{cart: {product_id:id,user_id:user_id,quantity:1}},
	    success: function(res) {
	    	
	    	if(res.status=="success")
	    	{
	    		alert("success");
	    	}
	    	else
	    	{
	    		alert("faild");
	    	}
	    }
		});
	});
</script>